<?xml version="1.0"?>
<model>
  <name>Glennan Second Floor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Prof. Lee</name>
    <email>leegs@case.edu</email>
  </author>

  <description>
    A model of the part of the second floor of the CWRU Glennan building for use in robotics courses.
  </description>

</model>
